body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator_container {
    background-color: grey;
    width: 700px;
    height: 900px;
    border-radius: 15px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

@font-face {
    font-family: "digital-clock-font";
    src: url("./digital-7/digital-7.ttf");
}

.display {
    background-color: rgb(95, 127, 95);

    width: 548px;
    height: 100px;
    border: 2px black solid;
    border-radius: 10px;

    font-family: "digital-clock-font";
    font-size: 60px;

    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    overflow: hidden;
    white-space: nowrap;

    box-shadow: black 1px 1px 5px inset;
}

.buttons_container {
    width: 548px;
    height: 700px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}

.numbers_container {
    width: 411px;
    height: 680px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 12px;
    align-content: flex-start;
}



.spacer_div {
    width: 20px;
}

.operators_container {
    width: 137px;
    height: 680px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    gap: 12px;
    flex-wrap: wrap;
}

.number_button {
    width: 110px;
    height: 160px;
    background-color: blue;
}

.operator_button {
    width: 80px;
    height: 125px;
    background-color: red;
}

.number_button, .operator_button {
    color: white;
    text-align: center;
    font-size: 60px;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: rgba(255,255,255,.6) 2px 2px 0 inset, black 1px 1px 2px;
}


.number_button:active, .operator_button:active {
    box-shadow: black 1px 1px 0 inset, black 1px 1px 4px inset;
}
